<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Cuisine
  </div>

  <ul class="list-group list-group-flush">
    <% @favorite.cuisine.each do |cuisine| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/cuisines/<%= cuisine.id %>">
          <%= cuisine %>
        </a>

      </li>
    <% end %>

  </ul>
</div>
